:root{
  --textgray : rgb(34, 32, 32);
  --lightwhite : #f0f0f0;
  --shadow : 4px 0px 15px rgb(63, 54, 54);
  --shadow-sm : 1px 0px 4px pink;
  --gradient : linear-gradient(rgb(230, 105, 230) 0%, rebeccapurple 100%);
}
ul li{
  list-style: none;
  cursor: pointer;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: var(--gradient);
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main{
  background: rgba(95, 58, 131, 0.89);
  opacity: 0.88;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  width: 350px;
  min-height: 450px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.top-bar, .controls, .timer, .row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-bar span{
  color: var(--textgray);
  font-size: 1.2rem;
  font-weight: 400;
}
.music-img{
  width: 276px;
  height: 200px;
  box-shadow: var(--shadow-sm);
  border-radius: inherit;
  margin: 20px auto;
}
.music-img img{
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-size: contain;
}
.music-text{
  text-align: center;
  margin: 10px 0;
}
.music-text p{
  margin: 8px;
  font-size: 1.2rem;
  font-weight: 400;
}
.music-text .author, .timer span{
  color: var(--textgray);
}
.music-text .title{
  font-size: x-large;
}
.music-progress{
  background: rgb(193, 167, 219);
  height: 8px;
  display: flex;
  border-radius: 4px;
  /* justify-content: center; */
  align-items: center;
}
.progress-bar{
  position: relative;
  width: 0;
  height: 5px;
  border-radius: 4px;
  background: var(--gradient);
  margin: 4px 0;
}
.progress-bar span{
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: violet;
  top: -4px;
  right: 50%;
}
.controls{
  margin: 22px 0;
}
.row {
  margin: 5px 0;
  font-size: 1.1em;
  font-weight: 300;
}
.controls i{
  /* color: transparent; */
  font-size: 2em;
  cursor: pointer;

}
.popup{
  width: 100%;
  display: flex;
  
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
}
.music-list{
  position: absolute;
  overflow: auto;
  bottom: -55%;
  height: 60%;
  background: rgb(147, 93, 201);
  padding: 10px 20px;
  border-radius: 18px;
  width: 90%;
  pointer-events: none;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.music-list::-webkit-scrollbar{
  width: 0;
}
.music-list.show{
  top: 200px;
  opacity: 1;
  pointer-events: all;
}
.row{
  border-bottom: 1px solid black;
  cursor: pointer;
}
.row.playing{
  color: var(--lightwhite);
}
.music-list .header{
  /* position: sticky; */
  font-size: 1.2rem;
  font-weight: 400;
}
